.article {
	margin:  15px  auto;
	padding:  0px;
	border: 1px solid;
	display: block;
}

.header-second {
	background: #373737;
	color: #CCCCCC;
	margin: 0px;
	padding:  5px 15px;
	font-size:  12px;
}

.title {
	background: #0C0C0C;
	color: white;
	font-size: 22px;
	padding:  10px 15px 0px 15px;
	display: block;
}

.date {
	display: inline-block;
}

.author {
	margin-left: 5px;
	display: inline-block;
}

.content {
	background: #FFFFFF;
	color: black;
	display: block;
}