.comments {
	margin:  10px  auto;
	padding:  5px  5px  0 5px ;
	border: 0;
	background: #EAEAEA;
	display: block;
}

.comment {
	margin:  5px 2px 2px 2px;
	padding:  4px;
	display: block;
}

.comment-author {
	margin: 0px;
	padding: 5px;
	background: #373737;
	color: #CCCCCC;
	display:  block;
	font-size:  12px;
}

.comment-message {
	margin: 0px;
	padding: 5px;
	background: #CFCFCF;
	color: #373737;
	display:  block;
}