table, td ,th {
	background: #0C0C0C;
	color: white;
	font-weight: bold;
}

input.input-title {
	font-size:  16px;
}

textarea.input-content {
	font-size:  16px;
}

.error {
	color: red;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 2px;
}