/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-06-13, 19:37:39
    Author     : reaperdk
*/

.header p {
	font-size:  35px;
	color: red;
}