/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-06-13, 19:37:39
    Author     : reaperdk
*/

.header-menu {
}

.header-menu ul {
	list-style-type:  none;
	margin: 10px auto;
}

.header-menu ul li {
	display:  inline-block;
	margin-right: 10px;
}

.header-menu a {
	font-size: 16px;
	text-decoration: none;
}

.header-menu .main-menu span {
	display: inline-block;
	border: 1px solid;
	border-color: #FFFFFF;
	padding:  5px 10px;
	height: 100%;
	background:  #090909;
}

.header-menu .main-menu span:hover {
	display: inline-block;
	height: 100%;
	background:  #FFFFFF;
}

.header-menu .submenu span {
	display: inline-block;
	border: 1px solid;
	border-color: #FFFFFF;
	padding:  3px 7px;
	height: 100%;
	background:  #0C0C0C;
}

.header-menu .submenu span:hover {
	display: inline-block;
	height: 100%;
	background:  #FFFFFF;
}

