/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
		Created on : 2014-06-13, 19:37:39
		Author     : reaperdk
*/

html, body {
	background: #020003;
	color: white;
	margin:0;
	padding:0;
	vertical-align: baseline;
}

.container {
	margin: 0px auto;
}

.header {
	background: #050505;
}

.header-menu {
	background: #050505;
}

.content-header {
	background:  #090909;
}

.content {
	background:  #FFFFFF;
	text-align:  justify;
	color: black;
	padding:  10px;
}

div {
	display: block;
	padding: 0px 10px 0px 10px ;
	margin: 0px auto;
}

input.button {
	border: 1px solid;
	padding:  5px;
	color: #FFFFFF;
	border-color: #FFFFFF;
	background:  #090909;
}

input.button:hover {
	color: #000000;
	background:  #DDDDDD;
	cursor: pointer;
}