<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">

    <form action="/javazaur/comment/add/#{articleId}" method="POST">
        <table>
            <tr>
                <td colspan="2">
                    <h:panelGroup rendered="#{request.getParameter('error') != null}">
                        <p class="error">Cannot add comment with empty content</p>
                    </h:panelGroup>
                </td>
            </tr>
            <tr>
                <td>Comment</td>
                <td><textarea rows="20" cols="100" name="content">#{comment.content}</textarea></td>
            </tr>
        </table>
        <input class="button" value="Add comment" type="submit"/>
    </form>

</ui:composition>