<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="/WEB-INF/jsf/templates/template.xhtml">
            <ui:define name="title">
                Comments
            </ui:define>
            <ui:define name="content-header">
                Add new comment for #{articleId}
            </ui:define>
            <ui:define name="content">
                <h:outputStylesheet name="css/article.css"  />
                <h:outputStylesheet name="css/comment.css"  />
                <div class="article">
                    <span class="title">
                        #{article.title}
                    </span>
                    <div class="header-second">
                        <span class="date">
                            #{article.addDate}
                        </span>
                        <span class="author">
                            #{article.author.login}
                        </span>
                    </div>
                    <span class="content">
                        #{article.content}
                    </span>
                    <ui:include src="/WEB-INF/jsf/comment/_comment_add.xhtml" />  
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>