<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">

    <form action="/javazaur/article/add" method="POST">
        <table>
            <tr>
                <td colspan="2">
                    <h:panelGroup rendered="#{request.getParameter('error') != null}">
                        <p class="error">Cannot add article with empty title or content</p>
                    </h:panelGroup>
                </td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input size="103" type="text" value="#{article.title}" name="title"/></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea rows="20" cols="100" name="content">#{article.content}</textarea></td>
            </tr>
        </table>
        <input class="button" value="Add article" type="submit"/>
    </form>

</ui:composition>