<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <form action="/javazaur/article/edit/#{editedArticle.id}" method="POST">
        <table>
            <tr>
                <td>Here: #{editedArticle.id} :End</td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input size="103" type="text" class="input-title" name="title" value="#{editedArticle.title}"/></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea rows="20" cols="100" class="input-content" name="content">#{editedArticle.content}</textarea></td>
            </tr>
        </table>
        <input class="button" value="Update article" type="submit"/>
    </form>

</ui:composition>