<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:outputStylesheet name="css/article.css"  />
    <h:outputStylesheet name="css/comment.css"  />
    <div class="article">
        <span class="title">
            #{article.title}
        </span>
        <div class="header-second">
            <span class="date">
                #{article.addDate}
            </span>
            <span class="author">
                #{article.author.login}
            </span>
        </div>
        <span class="content">
            #{article.content}
        </span>
        <div class="comments">
            <h:panelGroup rendered="#{not empty request.remoteUser}">
                <a href="/javazaur/comment/add/#{articleId}">Dodaj komentarz</a><Br />
            </h:panelGroup>
            <p><strong>Comments:</strong></p>
            <ui:repeat var="item" value="#{commentBean.getCommentsForArticle(articleId)}">
                <span class="comment">
                    <span class="comment-author">
                        <h:outputText value="#{item.addDate}"/>,
                        <h:outputText value="#{item.author.login}"/>                    
                    </span>
                    <span class="comment-message">
                        <h:outputText value="#{item.content}"/>                    
                    </span>
                </span>
            </ui:repeat>
        </div>
    </div>

</ui:composition>