
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="/WEB-INF/jsf/templates/template.xhtml">
            <ui:param name="article" value="#{articleBean.getArticle(articleId)}" />
            <ui:define name="title">
                Article #{articleId} details
            </ui:define>
            <ui:define name="content-header">
                #{article.title}
            </ui:define>
            <ui:define name="content">
                <h:panelGroup rendered="#{not empty request.remoteUser and article.author.login == accountBean.userName}">
                    <a href="/javazaur/article/edit/#{articleId}">Edytuj artykuł</a><Br />
                    <a href="/javazaur/article/delete/#{articleId}">Usuń artykuł</a><Br />
                </h:panelGroup>
                <ui:include src="/WEB-INF/jsf/article/_article_details.xhtml" />                    
            </ui:define>
        </ui:composition>
    </body>
</html>
