<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="/WEB-INF/jsf/templates/template.xhtml">
            <ui:define name="title">
                Articles
            </ui:define>
            <ui:define name="content-header">
                Edit article
            </ui:define>
            <ui:define name="content">
                <ui:include src="/WEB-INF/jsf/article/_article_edit.xhtml" />
            </ui:define>
        </ui:composition>
    </body>
</html>