<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:f="http://java.sun.com/jsf/core">
    <body>
        <ui:composition template="/WEB-INF/jsf/templates/template.xhtml">
            <ui:define name="title">
                Articles
            </ui:define>
            <ui:define name="content-header">
                List of articles
            </ui:define>
            <ui:define name="content">
                <h:outputStylesheet name="css/article.css"  />
                <ui:repeat var="item" value="#{articleBean.allArticles}">
                    <div class="article">
                        <span class="title">
                            #{item.title}
                        </span>
                        <div class="header-second">
                            <span class="date">
                                #{item.addDate}
                            </span>
                            <span class="author">
                                #{item.author.login}
                            </span>
                        </div>
                        <span class="content">
                            #{item.content}
                        </span>
                        <h:outputLink value="details/#{item.id}">Show comments</h:outputLink>
                    </div>
                </ui:repeat>
            </ui:define>
        </ui:composition>
    </body>
</html>