<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title><ui:insert name="title" /></title>
    </h:head>
    <h:outputStylesheet name="css/main.css"  />
    <h:outputStylesheet name="css/content.css"  />
    <body>
        <div class="container">
            <div class="header">
                <ui:include src="/WEB-INF/jsf/_header.xhtml" />
            </div>
            <div class="header-menu">
                <ui:include src="/WEB-INF/jsf/_header_menu.xhtml" />
            </div>

            <div class="content-header">
                <h2>
                    <ui:insert name="content-header" />
                </h2>
            </div>

            <div class="content">
                <ui:insert name="content" />
            </div>
        </div>
    </body>
</html>