<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">
    <h:outputStylesheet name="css/header-menu.css"  />
    <ul class="main-menu">
        <li>
            <a href="/javazaur/"><span>Main page</span></a>
        </li>
        <li>
            <a href="/javazaur/article/"><span>Articles</span></a>
        </li>
        <h:panelGroup rendered="#{empty request.remoteUser}">
            <li>
                <h:outputLink value="/javazaur/login"><span>Login</span></h:outputLink>
            </li>
        </h:panelGroup>
        <h:panelGroup rendered="#{not empty request.remoteUser}">
            <li>
                <h:outputLink value="/javazaur/j_spring_security_logout" ><span>Logout</span></h:outputLink>
            </li>
            <li>
                <p><strong>#{accountBean.userName}</strong></p>
            </li>
        </h:panelGroup>
    </ul>
    <h:panelGroup rendered="#{not empty request.remoteUser}">
        <ul class="submenu">
            <li>
                <a href="/javazaur/article/add"><span>Add article</span></a>
            </li>
        </ul>
    </h:panelGroup>
</ui:composition>